/* nejsme vcerejsi, pouzivame moderni box model */
html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

/*
 BARVY
 svetle fialova   #48418e
 tmave fialova    #25133d

 POUZITE PISMO
 Source Sans Pro - rezy pisma light 300, regular 400 a bold 700
https://fonts.google.com/specimen/Source+Sans+Pro
*/

body {
  padding: 0;
  margin: 0;
  line-height: 1.5;
  /* nastavení výšky řádku řádku */
}

/* ----- zde začni psát vlastní CSS ----- */
body {
  display: grid;
  grid-template-rows: 50px 400px 1000px 40px;

  font-family: 'Source Sans Pro', sans-serif;
}

header {
  position: relative;
  grid-row-start: 1;
}

h2 {
  margin: 0 0 0px 10px;
  height: 50px;
  color: #48418e;
}

.menu {
  display: flex;
  width: 50px;
  height: 50px;

  position: absolute;
  top: 0;
  right: 0;

  margin: 0;
  border: none;
}

.menu img {
  width: 50px;
  height: 50px;

  position: absolute;
  top: 0;
  right: 0;
}

.zavrit {
  z-index: 2;
  display: none;
}

.open {
  display: block;
}

nav {
  position: fixed;
  top: 0;
  left: 100%;
  /*left: 100%;*/
  background-color: whitesmoke;
  height: 100vh;
  width: 100vw;

  z-index: 1;
}

.klik {
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px 0 0 0;
  width: 100%;
}

li {
  display: block;
  height: 30px;
  text-align: center;
  /*padding: 5px 10px 10px 10px;*/
}

li:hover {
  background-color: #48418e;
  color: whitesmoke
}

a {
  text-decoration: none;
  padding: 5px 10px 5px 10px;
}

a:hover {
  color: whitesmoke;
  cursor: pointer;
}

.top {
  position: relative;
  grid-row-start: 2;
  background-image: url("images/pozadi.jpg");
  background-size: cover;
}

h1 {
  font-size: 60px;
  color: whitesmoke;
  margin: 24px 0 24px 20px;
}

.top p {
  font-size: 24px;
  color: whitesmoke;
  margin: 24px 0 24px 20px;
}

.tlacitka {
  position: absolute;
  top: 60%;

  display: flex;
  flex-direction: column;
}

button {
  font-size: 20px;
  color: whitesmoke;

  padding: 12px 25px;
  margin: 8px 0px 8px 20px;

  border: 2px;
  border-style: solid;
  border-radius: 10px;
  border-color: whitesmoke;
  background-color: #ffffff00;
}

.poster:hover {
  background-color: #25133d;
  cursor: pointer;
}

.stahnout {
  background-color: #48418e;
}

.telefon {
  display: none;
}

.main {
  grid-row-start: 3;

  display: flex;
  flex-direction: column;
}

.article {
  height: calc(100% / 3);
  text-align: center;

  display: flex;
  flex-direction: column;
}

img {
  height: 120px;
  padding: 10px;
}

h3 {
  font-size: 20px;
  color: #25133d;
}

.article p {
  margin: 0 20px;
}

footer {
  display: flex;
  justify-content: center;

  grid-row-start: 4;
  background-color: #25133d;

  font-size: 14px;
  color: whitesmoke;
}

@media (min-width: 700px) and (max-width:1000px) {
  body {
    grid-template-rows: 50px 400px 670px 40px;
  }

  h2 {
    padding-top: 12px;
  }

  nav {
    position: absolute;
    left: 40%;
    width: 60%;
    height: 50px;
    text-align: center;
    font-size: 16px;
    background-color: transparent;
  }

  .menu {
    display: none;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 0;
    margin: 14px 0 0 0;
    width: 100%;

    position: absolute;
    bottom: 0;
  }

  .tlacitka {
    flex-direction: row;
  }

  .telefon {
    display: block;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0;
  }

  .top p {
    width: 50%;
  }

  .main {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
  }

  .article {
    flex-basis: 50%;
  }

  .mapa {
    flex-basis: 100%;
  }

  .mapa p {
    width: 50%;
    margin: 0 auto;
  }
}

@media (min-width: 1001px) {
  body {
    grid-template-rows: 50px 450px 300px 40px;
  }

  h2 {
    padding-top: 12px;
  }

  nav {
    position: absolute;
    left: 40%;
    width: 60%;
    height: 50px;
    text-align: center;
    font-size: 16px;
    background-color: transparent;
  }

  .menu {
    display: none;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 0;
    margin: 14px 0 0 0;
    width: 100%;

    position: absolute;
    bottom: 0;
  }

  h1 {
    font-size: 90px;
  }

  .top p {
    font-size: 36px;
  }

  .tlacitka {
    flex-direction: row;
  }

  .telefon {
    display: block;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0;
  }

  .top p {
    width: 50%;
  }

  .tlacitka {
    position: absolute;
    top: 80%;
  }

  .main {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
  }
}